@{
    ViewBag.Title = "Libreria web";
}

<div class="jumbotron">
    <h1>Libreria web</h1>
    <p class="lead">Bienvenido a "El Ateneo Grand Splendid"</p>
   
</div>

    <main>
        <h1 align="Center" >El Ateneo Grand Splendid</h1>
        <div class="fotos">

            <img src="https://www.duna.cl/media/2019/01/p202263946-5-1.jpg">

            <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Yenny_Ateneo_Grand_Splendid.jpg">

            <img src="https://appassets.mvtdev.com/map/188/s/1602/17693599.jpg">
        </div>
    </main>
    <div class="descripcion">
        <h1 class="subtitulo">HISTORIA </h1>

        <p>El Ateneo Grand Splendid es una librería comercial ubicada en el barrio de Recoleta, Buenos Aires, Argentina. Destaca por situarse donde lo hiciera el teatro Grand Splendid, habiendo conservado la arquitectura original de dicho teatro, pero estando a su vez readaptado para funcionar como librería. Se encuentra en Avenida Santa Fe 1860, en el barrio de Recoleta. En 2008, fue elegida por el periódico británico The Guardian como la segunda librería más hermosa del mundo, y el 7 de enero de 2019 National Geographic la tituló la librería comercial más bella del mundo.</p>

        <p>La librería El Ateneo es una marca tradicional, creada en 1912, que actualmente se halla asociada a la firma Yenny, y posee más de 34 locales repartidos en la Argentina, principalmente en Buenos Aires. El local del ex teatro Grand Splendid es el de mayor cantidad y diversidad de oferta de la cadena: 120.000 títulos en stock. Según cifras de 2008 pasaron unas 3.000 visitas por día -medido con un contador electrónico en la puerta de entrada- y se vendieron más de 700.000. Es un punto turístico en los recorridos de la zona sobre todo para los extranjeros.</p>
        <p>
            En 2008, fue elegida por el periódico británico The Guardian como la segunda librería más hermosa del mundo.Y fue considerada como la librería comercial más bella del mundo por la National Geographic en 2019.
        </p>

        <p align="right">
            <a href="#">Volver al Incio</a>
        </p>
    </div>